*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/deploymentTargetDropDown.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.keystore
app/google-services.json
node_modules/
backend/dist/
